/* Grid */
body, html {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

[class*=col-] {
  float: left;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Media Queries */
/* For mobile phones: */
@media only screen and (max-width: 768px) {
  [class*=col-] {
    width: 100%;
  }
}
/* For desktop: */
@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}
.topnav {
  overflow: hidden;
  background-color: #363636;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

  p {
    margin-left: 15%;
    margin-right: 15%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .navbar-container {
    float: right;
  }

  p {
    margin-left: 15%;
    margin-right: 15%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  p {
    margin-left: 15%;
    margin-right: 15%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  p {
    margin-left: 15%;
    margin-right: 15%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  p {
    margin-left: 15%;
    margin-right: 15%;
  }
}
/* Footer */
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
  /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  /* Footer height */
  text-align: center;
  background-color: #363636;
  color: #ffffff;
  padding: 10px;
}

/**/
h1, h2 {
  font-family: "Roboto", sans-serif;
}

p, footer, a {
  font-family: "Raleway", sans-serif;
}

img {
  width: 100%;
  border: thin solid #f6f6f6;
}

#profile-pic-container {
  text-align: center;
}

#profile-pic {
  width: 30%;
  border-radius: 50%;
  border: thin solid #f6f6f6;
}

h1, h2, #role {
  text-align: center;
}

#contact-holder, #skills-holder {
  text-align: center;
}

#contact-holder a {
  text-decoration: none;
}

hr {
  border: none;
  height: 1px;
  width: 80%;
  background-color: #e6e6e6;
}

/* Contact Form */
#contact-holder .col-12 {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background-color: #363636;
  margin-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
}
#contact-holder .col-12 label {
  color: #ffffff;
}
#contact-holder .col-12 a {
  color: #ffffff;
}

form input {
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 10px;
  border-radius: 4px;
}
form textarea {
  width: 100%;
  height: 200px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 10px;
}
form button {
  padding: 15px;
  width: 150px;
  background-color: red;
  border: none;
  color: #ffffff;
}
form hr {
  border: none;
  height: 1px;
  background-color: #efefef;
  width: 100%;
}

/*# sourceMappingURL=stylesheet.css.map */
